body{
    color: white;
    font-family: sans-serif;
}
*{
    margin: 0;
    padding: 0;

}
.col{
    padding: 30px 100px ;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.hero{
    margin: 10px;

}
.center{
    text-align: center;
}
.hero h1{
font-size: 1.5rem;
padding: 5px;
margin: 5px;

}
.hero h2{
    font-size: 2rem;
    padding: 5px;

}
.hero img{
    padding: 10px;

}
.hero p{
    padding: 5px;
    margin: 10px 0;


}
.hero button{
    padding: 7px 10px;
    border-radius: 10px;
    border: none;
}
.btn{
    display: inline-block
    ;
    padding: 10px;


}
section{
    margin: 10px;
}