body{
    background-color: #847F7F;
    min-height: 100vh;
    position: relative;
    margin: 0;

}
header{
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
a{
    text-decoration: none;
    color: black;


}
header p,a{
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}
.nav-links ul  {
    display: flex;
}
.nav-links ul li {
    list-style-type: none;
    padding: 20px;
}
.nav-links ul li a {
    color: #f9f9f9;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;

}
.hero,.about{
    padding: 100px 0;
    margin: auto;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    margin: 0 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hero h3,.about h3{
    color: white;
    font-size: 1.3rem;
}
.hero p,.about p{
    color: #dbd7d7;
    font-size: 1rem;
    margin-right: 30px;
}
footer img{
    height: 25px;
    cursor: pointer;
}
footer img:hover {
    background-color: rgb(16, 84, 202);
}
.footer img{
    height: 25px;
    cursor: pointer;
}
.footer img:hover {
    background-color: rgb(16, 84, 202);
}
footer{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px 300px;
    
}
.footer{ 
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.44);

    padding: 20px 0;
    padding-left: 50px;
    position: absolute;

    bottom: 0;
    text-align: right;
}
.footer ul  {
    display: flex;
}
.footer ul li {
    list-style-type: none;
    padding: 0 40px;
}
.footer ul li a {
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;

}
.social{
    margin: 0 10%;
}
